@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #ffffff;
  font-family: var(--font-poppins), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
